table, tr, td, th {
    text-align: center;
    border-color: black;
    border-style: groove;
    border-width: 1px;
    border-spacing: 0px;
}

th {
    background-color: lightblue;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    padding: 10px;
}

.btn{
    padding: 5px;
    margin: 10px;
}

.c{
    text-align: center;
}

#pSelect{
    line-height: 0px;
}

#inpChSize{
    width: 50px;
}

#sSelect {
    border: 0px;
    background-color: lightblue;
    font-weight: 700;
}